:root {
    --primary-color: #005;
    --second-color:#3625;
    --accent1-color:#655865;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width: 940px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
    width: 10px;
}

.socialmedia a img {
    width: 50px;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
}

h1 {
  position: absolute;
  top: 20px;
  width: 100%;
  padding: 16px;
  text-align: center;
  opacity: 0.7;
  background-color: var(--accent1-color);
  color: #fff;
}

article {
   position: relative 
}
.hero article img {
    float: right;
    width: 125px;
}
