:root {
    --primary-color: #005;
    --second-color:rgba(40, 165, 5, 0.333);
    --accent1-color:#0c0b0c;
    --accent2-color: rgb(158, 205, 211);
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width: 940px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    background-color: var(--accent2-color);
    color: var(--primary-color);
    padding: 10px;
    text-align: center;
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
    width: 10px;
}

.socialmedia a img {
    width: 50px;
}

.hero {
    position: relative;
    /* width: 100%; */
    /* display: inline-block; */

}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

article {
    position: absolute;
    /* top: 500px; */
    bottom: 0;
    background-color: var(--second-color);
}

h1 {
  position: absolute;
  top: 20px;
  width: 100%;
  padding: 16px;
  text-align: center;
  opacity: 0.9;
  background-color: var(--second-color);
  color: #fff;
}


.hero article img {
    float: right;
    width: 125px;
    margin: 8px 5px    
}

.hero article p {
    margin: 0;
}
