:root {
    --primary-color: #75bb5c;
    --second-color: #88a4ce;
    --acent1-color: black;
    --acent2-color: #fff;
    --heading-font: "Time New Roma", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*  */
body {
    font-family: var(--body-font);
    color: var(--acent1-color);
}

header,
main,
footer {
    width: 850px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--acent1-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.main-footer {
    background-color: var(--second-color);
    border: 2px solid var(--acent1-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px auto;
    padding: 0 20px;
    color: var(--acent1-color);
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.socialmedia img {
    width: 50px;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.8;
    background-color: var(--primary-color);
    color: var(--acent2-color);
}

.hero h1 {
    color: var(--acent2-color);
}

.hero article {
    position: absolute;
    top: 400px;
    left: 10px;
    background-color: var(--primary-color);
    width: 800px;
    color: var(--acent2-color);
    border: 1px solid var(--acent1-color);
}

.hero article img {
    display: flex;
    float: right;
    width: 130px;
    padding-top: 15px;

}

.bar {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    padding: 10px 20px;
    margin: 10px auto;
    background-color: var(--second-color);
}

.bar img {
    padding-left: 30px;
}

.bottoms {
    display: flex;
}

header a {
    background-color: var(--acent2-color);
    width: 127px;
    padding: 15px 15px;
    border: 1px solid var(--acent1-color);
    color: var(--acent1-color);
    font-size: larger;
}

.content {
    display: flex;
    align-items: center;
    gap: 20px;
}

.title {
    font-size: xx-large;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    color: var(--acent2-color);
}

.hero section {
    background-color: var(--primary-color);
    margin-top: 65px;
    padding: 20px;
}

.content img {
    width: 250px;
    margin: 0;
}

.content p {
    flex: 1;
    text-align: justify;
    padding: 0;
    color: white;
}

.gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 80px;
    gap: 5px;
}

figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 120px;
    background-color: var(--acent2-color);
    padding: 4px;
    color: var(--acent1-color);
    font-family: var(--body-font);
}

figcaption {
    text-align: center;
}