* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --color-basic: darkblue;
}
body {
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    ;
}

nav {
    background-color: var(--color-basic);
    padding: 10px;
}
nav a {
    color: white;
    display: block;
    padding: 20px;
}
h1 {
    color: var(--color-basic);
}
main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}
p {
    padding: 0;
    margin: 1rem;
}

main {
    max-width: 850px;;
}

aside {
    width: 20rem;
    text-align: center;

}
aside h2 {
    position: relative;
    top: 25px;
    left: auto;

}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 1rem;
    border-top: 1px solid #000;
    text-align: center;
}

/* Class Selectors*/
.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}