.callout {
	background-color: #247;
    max-width: 400px;
    padding: 15px;
    border: 1px solid rgba(0, 0, 0, .1);
    margin: 10px;
    color: #fff;
}

.callout img {
    float: right;
    padding: 3px;
    border: 1px solid #000;
    margin: 0 0 10px 15px;
    background-color: #bbb;
    width: 100px;
    height: auto;

}

blockquote {
	margin: 0px;
}

cite {
	display: block;
    border-top: 1px dotted #fff;
    padding-top: 3px;
    text-align: right;
    font-size: smaller;
}